<li class="active">
  <a href="/">
    <i class="menu-icon fa fa-home"></i>
    <span class="menu-text"> Dashboard </span>
  </a>
  <b class="arrow"></b>
</li>
<li class="">
  <a href="#" class="dropdown-toggle">
    <i class="menu-icon fa fa-user"></i>
    <span class="menu-text"> Staff </span>
    <b class="arrow fa fa-angle-down"></b>
  </a>
  <b class="arrow"></b>
  <ul class="submenu">
    <li class="">
      <a href="/staff/">
        <i class="menu-icon fa fa-home"></i>
        <span class="menu-text"> Overview </span>
      </a>
      <b class="arrow"></b>
    </li>
  </ul>
</li>
<li class="">
  <a href="#" class="dropdown-toggle">
    <i class="menu-icon fa fa-briefcase"></i>
    <span class="menu-text"> C.R.M </span>
    <b class="arrow fa fa-angle-down"></b>
  </a>
  <b class="arrow"></b>
  <ul class="submenu">
    <li class="">
      <a href="/crm/">
        <i class="menu-icon fa fa-home"></i>
        <span class="menu-text"> Overview </span>
      </a>
      <b class="arrow"></b>
    </li>
    <li class="">
      <a href="/crm/customer/">
        <i class="menu-icon fa fa-group"></i>
        <span class="menu-text"> Customers </span>
      </a>
      <b class="arrow"></b>
    </li>
    <li class="">
      <a href="/crm/upcoming/all">
        <i class="menu-icon fa fa-calendar"></i>
        <span class="menu-text"> All upcoming events </span>
      </a>
      <b class="arrow"></b>
    </li>
  </ul>
</li>
<li class="">
  <a href="#" class="dropdown-toggle">
    <i class="menu-icon fa fa-list"></i>
    <span class="menu-text"> C.I </span>
    <b class="arrow fa fa-angle-down"></b>
  </a>
  <b class="arrow"></b>
  <ul class="submenu">
    <li class="">
      <a href="/ci/">
        <i class="menu-icon fa fa-home"></i>
        <span class="menu-text"> Overview </span>
      </a>
      <b class="arrow"></b>
    </li>
    <li class="">
      <a href="/ci/projects/">
        <i class="menu-icon fa fa-folder-open"></i>
        <span class="menu-text"> Projects </span>
      </a>
      <b class="arrow"></b>
    </li>
    <li class="">
      <a href="/ci/builds/">
        <i class="menu-icon fa fa-cogs"></i>
        <span class="menu-text"> Builds </span>
      </a>
      <b class="arrow"></b>
    </li>
    <li class="">
      <a href="/ci/planning">
        <i class="menu-icon fa fa-calendar"></i>
        <span class="menu-text"> Planning </span>
      </a>
      <b class="arrow"></b>
    </li>
  </ul>
</li>
<li class="">
  <a href="#" class="dropdown-toggle">
    <i class="menu-icon fa fa-cloud"></i>
    <span class="menu-text"> Provisionning </span>
    <b class="arrow fa fa-angle-down"></b>
  </a>
  <b class="arrow"></b>
  <ul class="submenu">
    <li class="">
      <a href="/provision/">
        <i class="menu-icon fa fa-home"></i>
        <span class="menu-text"> Overview </span>
      </a>
      <b class="arrow"></b>
    </li>
    <li class="">
      <a href="/provision/hosts/">
        <i class="menu-icon fa fa-hdd-o"></i>
        <span class="menu-text"> Host nodes </span>
      </a>
      <b class="arrow"></b>
    </li>
  </ul>
</li>
