{% extends 'layouts/calendar.html' %}

{% load staticfiles %}

{% block title %}Upcoming events{% endblock %}

{% block page_header %}
<h1>
	Full Calendar
	<small>
		<i class="ace-icon fa fa-angle-double-right"></i>
		with draggable and editable events
	</small>
</h1>
{% endblock %}

{% block widgets %}
<div class="widget-box transparent">
	<div class="widget-header">
		<h4>Draggable events</h4>
	</div>
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div id="external-events">
				<div class="external-event label-grey" data-class="label-grey">
					<i class="ace-icon fa fa-arrows"></i>
					My Event 1
				</div>

				<div class="external-event label-success" data-class="label-success">
					<i class="ace-icon fa fa-arrows"></i>
					My Event 2
				</div>

				<div class="external-event label-danger" data-class="label-danger">
					<i class="ace-icon fa fa-arrows"></i>
					My Event 3
				</div>

				<div class="external-event label-purple" data-class="label-purple">
					<i class="ace-icon fa fa-arrows"></i>
					My Event 4
				</div>

				<div class="external-event label-yellow" data-class="label-yellow">
					<i class="ace-icon fa fa-arrows"></i>
					My Event 5
				</div>

				<div class="external-event label-pink" data-class="label-pink">
					<i class="ace-icon fa fa-arrows"></i>
					My Event 6
				</div>

				<div class="external-event label-info" data-class="label-info">
					<i class="ace-icon fa fa-arrows"></i>
					My Event 7
				</div>

				<label>
					<input type="checkbox" class="ace ace-checkbox" id="drop-remove" />
					<span class="lbl"> Remove after drop</span>
				</label>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block app_custom %}
var srcEvents = [
{
	title: 'All Day Event',
	start: new Date(y, m, 1),
	className: 'label-important'
},
{
	title: 'Long Event',
	start: moment().subtract(5, 'days').format('YYYY-MM-DD'),
	end: moment().subtract(1, 'days').format('YYYY-MM-DD'),
	className: 'label-success'
},
{
	title: 'Some Event',
	start: new Date(y, m, d-3, 16, 0),
	allDay: false,
	className: 'label-info'
}
];
{% endblock %}

{% block app_events %}
select: function(start, end, allDay) {
	bootbox.prompt("New Event Title:", function(title) {
		if (title !== null) {
			calendar.fullCalendar('renderEvent',
			{
				title: title,
				start: start,
				end: end,
				allDay: allDay,
				className: 'label-info'
			},
			true // make the event "stick"
			);
		}
	});


	calendar.fullCalendar('unselect');
}
,
eventClick: function(calEvent, jsEvent, view) {

	//display a modal
	var modal =
	'<div class="modal fade">\
		<div class="modal-dialog">\
			<div class="modal-content">\
				<div class="modal-body">\
					<button type="button" class="close" data-dismiss="modal" style="margin-top:-10px;">&times;</button>\
					<form class="no-margin">\
						<label>Change event name &nbsp;</label>\
						<input class="middle" autocomplete="off" type="text" value="' + calEvent.title + '" />\
						<button type="submit" class="btn btn-sm btn-success"><i class="ace-icon fa fa-check"></i> Save</button>\
					</form>\
				</div>\
				<div class="modal-footer">\
					<button type="button" class="btn btn-sm btn-danger" data-action="delete"><i class="ace-icon fa fa-trash-o"></i> Delete Event</button>\
					<button type="button" class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Cancel</button>\
				</div>\
			</div>\
		</div>\
	</div>';


	var modal = $(modal).appendTo('body');
	modal.find('form').on('submit', function(ev){
		ev.preventDefault();

		calEvent.title = $(this).find("input[type=text]").val();
		calendar.fullCalendar('updateEvent', calEvent);
		modal.modal("hide");
	});
	modal.find('button[data-action=delete]').on('click', function() {
		calendar.fullCalendar('removeEvents' , function(ev){
			return (ev._id == calEvent._id);
		})
		modal.modal("hide");
	});

	modal.modal('show').on('hidden', function(){
		modal.remove();
	});


	//console.log(calEvent.id);
	//console.log(jsEvent);
	//console.log(view);

	// change the border color just for fun
	//$(this).css('border-color', 'red');

}
{% endblock %}
